*{
    margin: 0px;
    padding: 0px;
    overflow-y: hidden;
    font-family: '黑体';
    font-weight: 200;
}

.info .leftBar{
    position: absolute;
    left: 0px;
    height: 88vh;
    top:12px;
}
.info .main{
    margin-left: 45px;
    font-size: 15px;
}
.info .p1{
    font-size: 15px;
    line-height: 35px;
    color:#52B995;
    border-bottom: 1px solid #C1AE98;
}
.info table{
    width: 100%;
    height: 88%;
}
.info .t1{
    line-height: 35px;
    width: 80px;
    
}
.info .t1 .tip{
    display: inline-block;
    line-height: 35px;
    height: 35px;
    width: 60px;
    text-align: justify;
    overflow: hidden;
    text-align: justify;
    vertical-align: middle;
}
.info .t1 .tip:after {
    display: inline-block;
    content: '';
    overflow: hidden;
    width: 100%;
    height: 0;
}

.info .t2{
    line-height: 35px;
    border-bottom: 1px solid #C1AE98; 
    position: relative;
}

.info .t2 input{
    border: 0px;
    display: inline-block;
    line-height: 35px;
    height: 39px;
    font-size: 14px;
}
.info .t2 .leftBtn{
    vertical-align: middle;
    width: 7px;
    position: absolute;
    right: 0px;
    top: 15px;
}




.info .bottomBtn{
    position: absolute;
    bottom: 0px;
    height: 45px;
}
.info .bottomBtn .last{
    display: inline-block;
    width: 50vw;
    height: 45px;
    background-color: #65D4CC;
    color: white;
    line-height: 45px;
    text-align: center;    
}
.info .bottomBtn .next{
    display: inline-block;
    width: 50vw;
    height: 45px;
    background-color: #5CC698;
    color: white;
    line-height: 45px;
    text-align: center;
}
.info .ccc{
    display: none;
}
.info .blackbg{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 10;
}
.info .chooseList{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    z-index: 200;
}
.info .chooseList .title{
    font-size: 15px;
    line-height: 50px;
    color:#52B995;
    text-align: center;
    border-bottom: 1px solid #C1AE98;
}
.info .chooseList .chooseListBox{
    padding: 0 10px;
    box-shadow: 0px 2px 1px 1px rgba(0, 0, 0, 0.2);
    height: 250px;
    overflow: scroll;
}
.info .chooseList .choice{
    font-size: 15px;
    line-height: 40px;
    color:black;
    text-align: center;
    
}
.info .chooseList .choice.active{
    font-size: 15px;
    line-height: 30px;
    color:#C1AE98;
    text-align: center;
    border: 2px solid #C1AE98;
    border-radius: 3px;
}
.info .chooseList .choiceLine{
    border-bottom: 1px solid #C1AE98;
    padding: 5px 0;
}

.info .chooseList .choiceLine:last-of-type {
    border: 0px;
}
.info .chooseList .cancel{
    font-size: 18px;
    line-height: 40px;
    color:black;
    text-align: center;
    margin: 10px 0;
    background-color: white;
    box-shadow: 0px 2px 1px 1px rgba(0, 0, 0, 0.2);
}